@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HangeulNuri-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/HangeulNuri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.긴줄{
    font-family: 'GmarketSansBold';
    font-size: 5rem;
    width: 100%;
    min-height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.products_list_wrap {
    font-family: 'HangeulNuri-Bold';
    font-size: 2rem;
    background-color: #FFF;
    width: 100%;
    height: 200vh;
    color: black;
}