* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.bg {
  background-color: rgb(250, 20, 20);
  width: 100vw;
  max-width:100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.container {
  position: relative;
  margin: 5rem;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.3);
  border: .9rem solid #FFF;
  width: 81vw;
  border-radius: .5rem;
  overflow: hidden;
  height: 100vh;
}